<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae</title>
</head>

<body>

    <br>
    <center><img src="https://avatars.githubusercontent.com/u/260295240?s=400&u=7acd95597cf0694eeb41276519e0089a19f0ed22&v=4" width="200" height="200">
    <h1>Juan Sebastian Perez Galvis</h1>
<h3>
<img
src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.clipartmax.com%2Fpng%2Fmiddle%2F158-1587271_email-icon-vector-circle.png&f=1&nofb=1&ipt=2172f53343942af36db9c259f29526230acc5cb256d23d081842db96a5cb163a" width="15" height="15">
j_perez54@unisimon.edu.co |
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.icons8.com%2Fios_filled%2F1200%2Fphone.jpg&f=1&nofb=1&ipt=4080bbfdf900a0a409ee144d078439ecaf688eb5ca877a1afdb414b2cdfdb87b" width="15" height="15">
+57 314 1234567 |
<img
src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpng.pngtree.com%2Fpng-clipart%2F20230812%2Foriginal%2Fpngtree-location-graphic-navigation-map-vector-picture-image_10482668.png&f=1&nofb=1&ipt=185b57b37cfb66ec97d499626f0d206bd5b1f487d39ec5f45bccff7d6cbccd9f" width="15" height="15">
Cúcuta</h3></center> 

<center><hr width="90%" size="2"></center>

<h4>Perfil Profesional</h4>
Estudiante de ingeniería de Sistemas. Especializado en desarrollo backend, sin temor al frontend. Con pasión por el desarrollo a bajo nivel, actualmente aprendiendo C y Rust
<br><a href="#horario">Ver mi horario de clase</a>

<center><br><hr width="90%" size="2"></center>

<h4>Estudios</h4> 
Actualmente estudiando Ingeniería de Sistemas
<dd><i>en la universidad Simón Bolívar</i></dd><br>
Diplomado de Principios Básicos para la Docencia
<dd><i>de la universidad Simón Bolívar</i></dd><br>
Proficiencia en Inglés 

<center><br><hr width="90%" size="2"></center>

<h4>Experiencia</h4>
Representante de servicio bilingüe en Konecta
<dd><i>Iberia Airlines customer service</i></dd>

<center><br><hr width="90%" size="2"></center>

<h4>Referencias profesionales</h4> 
Miguel Angel Perez Villamizar
<dd><i><a href="https://www.linkedin.com/in/miguel-angel-perez-villamizar-a68336116/">
    Linkedin.com</a></dd></i>

<center><br><hr width="90%" size="2"></center>
<h4>Referencias personales</h4> 
Mi Mamita
<dd><i>+57 315 1234567</i></dd>

<center><br><hr width="90%" size="2"></center>

</body>
</html>

